<?php

$products = $block->getProducts();

?>

<form class="form" action="<?php echo $block->getUrl('survey/index/result') ?>" method="post">
    First name: <input type="text" name="name">
    <br/>
    Product:
    <select name="product">
        <option value="">--Please select--</option>
        <?php
            if(!empty((array)$products) && is_array((array)$products)){
                foreach($products as $product){
                    ?>
                    <option value="<?php echo $product->getId(); ?>"><?php echo $product->getName(); ?></option>
                    <?php
                }
            }
        ?>
    </select>
    <br/>
    Rate this product:
    <input type="radio" name="rating" value="1"> 1
    <input type="radio" name="rating" value="2"> 2
    <input type="radio" name="rating" value="3"> 3
    <input type="radio" name="rating" value="4"> 4
    <input type="radio" name="rating" value="5"> 5
    <br/>
    Message: <textarea name="message"></textarea>
    <br/>
    <input type="submit" value="Submit">
</form>
